@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;1,400&display=swap");
@import "tailwindcss";
@import "./fontello.css";

@layer base {
  html {
    font-family: "Barlow", sans-serif;
  }
  body {
    @apply bg-light;
  }
  .title {
    @apply text-dark not-italic font-medium leading-normal uppercase text-center;
  }
  .title-h1-italic {
    @apply italic text-2xl 2xl:text-[2rem];
  }

  .title-h2 {
    @apply text-3xl md:text-4xl lg:text-[2.5rem];
  }

  .title-h3 {
    @apply text-xl md:text-2xl;
  }
  .footer-title {
    @apply text-base font-medium text-light uppercase;
  }
  .footer-text {
    @apply text-base font-normal text-light;
  }
}

@theme {
  --color-light: #fafafa;
  --color-dark: #232323;
  --color-ui-active: #d9d9d9;
  --color-ceramic: #c69978;
  --color-ui-disabled: #d2d2d2;
  --color-ui-error: #db0c35;
  --shadow-img-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  --shadow-btn-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4) inset;
}

@layer components {
  .btn-default {
    @apply rounded-xs border border-dark text-center text-dark not-italic font-normal leading-normal uppercase bg-transparent block px-2.5 cursor-pointer ease-linear duration-300;
  }
  .btn-outline {
    @apply w-57.5 h-12.5 2xl:w-82.5 2xl:h-15 text-xl lg:hover:bg-dark lg:hover:text-light lg:active:bg-transparent lg:active:text-dark lg:active:shadow-btn-shadow lg:active:border-0;
  }
  .btn-send {
    @apply w-55 h-10 text-base focus:outline-ceramic focus:outline focus:border-ceramic lg:active:outline-ceramic lg:active:outline lg:active:border-ceramic lg:active:text-dark lg:hover:text-ceramic lg:hover:border-ceramic disabled:text-ui-disabled disabled:border-ui-disabled;
  }
  label {
    @apply block text-dark text-sm font-normal leading-[28px];
  }
  .touch_input {
    @apply w-85 h-12 md:w-75 rounded-xs border-1 border-[#E2E1E5] text-dark px-[0.938rem] py-2.5 bg-[#fff] focus:border-none focus:outline focus:outline-dark lg:hover:outline-dark lg:hover:outline placeholder:text-ui-disabled placeholder:text-sm;
  }
  textarea {
    @apply resize-none w-85 md:w-75 h-33 rounded-xs border-1 border-[#E2E1E5] text-dark px-[0.938rem] py-2.5 bg-[#fff] focus:border-none focus:outline focus:outline-dark lg:hover:outline-dark lg:hover:outline placeholder:text-ui-disabled placeholder:text-sm;
  }
  .swiper-pagination-bullet {
    @apply !bg-dark !w-2.5 !h-2.5 !rounded-none !opacity-[1];
  }
  .swiper-pagination-bullet-active {
    @apply !bg-ceramic;
  }
  .works__slider-nav {
    @apply hidden lg:block text-2xl absolute top-[50%] transform-gpu;
  }
  .footer_input {
    @apply w-73 h-8 md:w-75 bg-transparent placeholder:text-ui-active border-b-1 border-ui-active pb-4 text-light text-sm font-normal;
  }
  .btn-submit {
    @apply w-22.5 h-10 rounded-xs border border-light text-center text-light not-italic font-normal leading-normal uppercase bg-transparent block px-4 cursor-pointer text-base disabled:border-ui-disabled disabled:text-ui-disabled;
  }
  .catalog__tab {
    @apply text-xl uppercase text-[#000] font-medium relative cursor-pointer;
  }
  .catalog__tab_active::before {
    @apply absolute w-full h-0.5 bg-[#000] content-[""] -bottom-0.5;
  }
  .catalog__card_text {
    @apply px-3 pt-2.5 pb-4 border-r-1 border-b-1 border-l-1 border-dark text-[#000] text-base font-medium;
  }
  .catalog__content_decoration::before {
    @apply md:absolute w-50 h-[1px] bg-dark content-[""] top-0;
  }
  .catalog__content_decoration::after {
    @apply md:absolute w-[1px] h-50 bg-dark content-[""] top-0;
  }
  .catalog__content-item {
    @apply md:pt-2.5 md:pl-2.5 xl:pt-6 xl:pl-6  flex-wrap items-start justify-start gap-5 xl:gap-8.5 2xl:gap-x-20.5;
  }
  .catalog__image {
    @apply w-full h-49.5 2xl:h-45 object-cover;
  }
}
